# 忽略文件夹
/Python_App/microFlasky/env
/Python_App/microFlasky/app/__pycache__
/Python_App/microFlasky/app/main/__pycache__
/Python_App/microFlasky/__pycache__
/Python_App/microFlasky/.vscode
/Python_App/microFlasky/app/auth/__pycache__
/Python_App/AutoSendMessage/__pycache__
/Python_App/AutoSendMessage/env
/Python_App/AutoSendMessage/.vscode

# 忽略的文件
/Python_App/microFlasky/myapp.log